## Python - A Crash Course By Example
## Data Access
Dr. Victor Pankratius<br>
Massachusetts Institute of Technology<br>
http://www.victorpankratius.com

<hr>

## Accessing Text Files

In [1]:
# Text files
#
# Write some data to a file
f = open("demofile.txt", "w")  #open for write
f.write( "line1a, line1b\nline2a, line2b\n");
f.write("line3a, line3b\n")
f.close()

In [2]:
# Open a file
f = open("demofile.txt", "r")
print ("Reading from file: ", f.name)
print (f.read())
f.close()

#> Reading from file:  demofile.txt
# line1a, line1b
# line2a, line2b
# line3a, line3b

Reading from file:  demofile.txt
line1a, line1b
line2a, line2b
line3a, line3b

In [3]:
f = open("demofile.txt", "r")
for line in f:
    print (line)
#> line1a, line1b
#
#  line2a, line2b
#
#  line3a, line3b

line1a, line1b

line2a, line2b

line3a, line3b

In [4]:
#alternative
with open("demofile.txt", "r") as f:
    lines = f.read()
    print (lines)
    
#> line1a, line1b
#  line2a, line2b
#  line3a, line3b
#

line1a, line1b
line2a, line2b
line3a, line3b

In [5]:
#-------------------------------------------------
#split, filter strings using 'regular expressions'

import re  #regular expression operations
with open("demofile.txt", "r") as f:
    lines = f.readlines()
    for l in lines:
        split1 = l.splitlines()
        split2 = re.split('\W+',l)
        split3 = re.findall('([0-9])+',l)
        print (split1, split2, split3)

        
#['line1a, line1b'] ['line1a', 'line1b', ''] ['1', '1']
#['line2a, line2b'] ['line2a', 'line2b', ''] ['2', '2']
#['line3a, line3b'] ['line3a', 'line3b', ''] ['3', '3']

['line1a, line1b'] ['line1a', 'line1b', ''] ['1', '1']
['line2a, line2b'] ['line2a', 'line2b', ''] ['2', '2']
['line3a, line3b'] ['line3a', 'line3b', ''] ['3', '3']

<hr>
## CSV Files
(comma separated values)

In [6]:
import csv
for row in csv.reader(['one,two,three,   four, five'], delimiter=','):
    print (row)
    print (  [e.strip() for e in row]  )  

#> ['one', 'two', 'three', '   four', ' five']
#  ['one', 'two', 'three', 'four', 'five']

['one', 'two', 'three', '   four', ' five']
['one', 'two', 'three', 'four', 'five']

In [7]:
with open('demoCSVfile.csv', 'w') as fp:
    a = csv.writer(fp, delimiter=',')
    data = [['X', 'Y'],
            ['1', '42'],
            ['2', '43']]
    a.writerows(data)

In [8]:
with open('demoCSVfile.csv') as csvfile:
    reader = csv.reader(csvfile)
    for row in reader:
        print (row)

#> ['X', 'Y']
#  ['1', '42']
#  ['2', '43']

['X', 'Y']
['1', '42']
['2', '43']

In [9]:
with open('demoCSVfile.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        print (row)
        print (int(row['Y'])+1)
        
#> {'Y': '42', 'X': '1'}
#  43
#  {'Y': '43', 'X': '2'}
#  44

OrderedDict([('X', '1'), ('Y', '42')])
43
OrderedDict([('X', '2'), ('Y', '43')])
44

<hr>
## XML Files
eXtensible Markup Language, see http://www.w3.org/XML/

In [10]:
import xml.etree.ElementTree as ET

f = open("demoXMLfile.xml", "w") #there are also other ways to create XML
f.write(
"""<planets>
   <Earth>
       <radius unit="m">
           6378
       </radius>
       <mass unit="kg">
           5.97e24
       </mass>
   </Earth>
   <Mars>
       <radius unit="m">
           3397
       </radius>
       <mass unit="kg">
           6.39e21
       </mass>
   </Mars>
</planets>""");
f.close()

In [11]:
filename='demoXMLfile.xml'
tree = ET.parse(filename) 
root = tree.getroot()

print ( int(root.find('./Earth/radius').text)     )    #> 6378
print ( root.find('./Earth/radius').attrib['unit'])    #> m

6378
m

In [12]:
#start an iterator at root over all tree elements
for e in root.iter():
    print ("tag: %s, attribute: %s" % (e.tag, e.attrib))
    
#> tag: planets, attribute: {}
#  tag: Earth, attribute: {}
#  tag: radius, attribute: {'unit': 'm'}
#  tag: mass, attribute: {'unit': 'kg'}
#  tag: Mars, attribute: {}
#  tag: radius, attribute: {'unit': 'm'}
#  tag: mass, attribute: {'unit': 'kg'}

tag: planets, attribute: {}
tag: Earth, attribute: {}
tag: radius, attribute: {'unit': 'm'}
tag: mass, attribute: {'unit': 'kg'}
tag: Mars, attribute: {}
tag: radius, attribute: {'unit': 'm'}
tag: mass, attribute: {'unit': 'kg'}

In [13]:
#see XPath language definition for search pattern in 'findall'
for element in root.findall(".//radius"):
    print (int(element.text) )                #find and print all radii

#> 6378
#  3397

6378
3397

In [14]:
#print max of all radii
print ( max([ int(e.text) for e in root.findall(".//radius")]) )
#> 6378

6378

<hr>
## SQL Database Demo
- SQL = Structured Query Language
- See https://www.sqlite.org/lang.html for sqlite3 implementation
- Demo values from http://exoplanetarchive.ipac.caltech.edu

In [15]:
#---------------------------------------------------------------
#--Create this schema:
#
# Star (id, constellationID, constellationBrightness, distance)
#   1, 1, 4, 252
#   2, 2, 6, 182
#   3, 1, 47, 45.9
#
# Constellation (id, name, abbrev, genitive, quadrant, area)
#   1, Ursa Major, UMa, Urasae Majoris, NQ2, 1280
#   2, Lynx, Lyn, Lyncis, NQ2, 545
#
# Planet (HDnumber, planetletter, orbitalPeriod)
#   73108, b, 269.30
#   45410, b, 874.774 
#   95128, d, 14002
#
# DiscoveryMethod (id, name)
#   1, Radial Velocity
#   2, Imaging
#   3, Transit
#
# discovered (planetID, starID, discoverymethodID)
#   73108, 1, 1
#   45410, 2, 1
#   95128, 3, 1
#---------------------------------------------------------------

In [16]:
#remove our demo file if it already exists
import os
os.remove('demoDatabase.db') if os.path.exists('demoDatabase.db') else None

#using the sqlite3 database management system (DBMS) to create a database
import sqlite3
conn = sqlite3.connect('demoDatabase.db')
conn.text_factory = str  #retrieve DB strings in UTF-8 format
c = conn.cursor()

In [17]:
#---------------------------------------------------------------
# create database schema, i.e., tables etc.
#---------------------------------------------------------------
c.execute('''
CREATE TABLE star
    (id integer PRIMARY KEY, constellationID integer, 
     constellationBrightness integer, distance real,
     FOREIGN KEY(constellationID) REFERENCES constellation(id));
''')

c.execute('''
CREATE TABLE constellation
    (id integer PRIMARY KEY, name text, abbrev text, genitive text, 
     quadrant text, area real);
''')

c.execute('''
CREATE TABLE planet
    (HDnumber integer PRIMARY KEY, planetletter text, orbitalPeriod real);
''')

c.execute('''
CREATE TABLE discoveryMethod
    (id integer PRIMARY KEY, name);
''')

c.execute('''
CREATE TABLE discovered
(planetID integer, starID integer, discoverymethodID integer,
 FOREIGN KEY(planetID) REFERENCES planet(HDnumber),
 FOREIGN KEY(starID) REFERENCES star(id),
 FOREIGN KEY(discoverymethodID) REFERENCES discoveryMethod(id) 
 );
''')

In [18]:
#---------------------------------------------------------------
## insert values into tables
#---------------------------------------------------------------
starValues = [
(1, 1, 4, 252),
(2, 2, 6, 182),
(3, 1, 47, 45.9)
] 
c.executemany('INSERT INTO star VALUES (?,?,?,?)',starValues)

constellationValues = [
(1, 'Ursa Major', 'UMa', 'Urasae Majoris', 'NQ2', 1280),
(2, 'Lynx', 'Lyn', 'Lyncis', 'NQ2', 545)
] 
c.executemany('INSERT INTO constellation VALUES (?,?,?,?,?,?)',constellationValues)

planetValues = [
(73108, 'b', 269.30),
(45410, 'b', 874.774),
(95128, 'd', 14002)
] 
c.executemany('INSERT INTO planet VALUES (?,?,?)',planetValues)

discoveryMethodValues = [
(1, 'Radial Velocity'),
(2, 'Imaging'),
(3, 'Transit')
] 
c.executemany('INSERT INTO discoveryMethod VALUES (?,?)',discoveryMethodValues)

discoveredValues = [
(73108, 1, 1),
(45410, 2, 1),
(95128, 3, 1)
] 
c.executemany('INSERT INTO discovered VALUES (?,?,?)',discoveredValues)
#---------------------------------------------------------------

In [19]:
# Save changes
conn.commit()

In [20]:
#---------------------------------------------------------------
# Query data demo
#---------------------------------------------------------------
#select everything in 'star' table
for row in c.execute('SELECT * FROM star'):
    print (row)
#> (1, 1, 4, 252.0)
#  (2, 2, 6, 182.0)
#  (3, 1, 47, 45.9)

(1, 1, 4, 252.0)
(2, 2, 6, 182.0)
(3, 1, 47, 45.9)

In [21]:
#---------------------------------------------------------------
#show all stars and their constBrightness & constellation genitive
for row in c.execute('SELECT star.constellationBrightness, \
                             constellation.genitive \
                      FROM star, constellation \
                      WHERE star.constellationID=constellation.ID'):
    print (row)
#> (4, 'Urasae Majoris')
#  (6, 'Lyncis')
#  (47, 'Urasae Majoris')

(4, 'Urasae Majoris')
(6, 'Lyncis')
(47, 'Urasae Majoris')

In [22]:
#---------------------------------------------------------------
#show discovered planets, orbital period, their host star, discovery method
for row in c.execute('SELECT p.HDnumber, \
                             p.orbitalperiod, \
                             s.constellationBrightness, \
                             c.genitive, \
                             dm.name \
                      FROM star s, constellation c, planet p, \
                           discoverymethod dm, discovered d \
                      WHERE s.constellationID=c.ID AND \
                           d.planetID = p.HDnumber AND \
                           d.starID=s.id AND \
                           d.discoverymethodID=dm.id'):
    print (row)
#> (73108, 269.3, 4, 'Urasae Majoris', 'Radial Velocity')
#  (45410, 874.774, 6, 'Lyncis', 'Radial Velocity')
#  (95128, 14002.0, 47, 'Urasae Majoris', 'Radial Velocity')

(73108, 269.3, 4, 'Urasae Majoris', 'Radial Velocity')
(45410, 874.774, 6, 'Lyncis', 'Radial Velocity')
(95128, 14002.0, 47, 'Urasae Majoris', 'Radial Velocity')

In [23]:
#---------------------------------------------------------------
#select planets discovered in constellations with areas >600 sq.deg.
for row in c.execute('SELECT p.HDnumber \
                      FROM star s, constellation c, planet p, discovered d \
                      WHERE s.constellationID=c.ID AND \
                            d.planetID = p.HDnumber AND \
                            d.starID=s.id AND \
                            c.area > 600'):
    print (row)
#> (73108,)
#  (95128,)

(73108,)
(95128,)

In [24]:
#---------------------------------------------------------------
#show all distinct discovery methods for each quadrant
for row in c.execute('SELECT DISTINCT c.quadrant, dm.name \
                      FROM star s, constellation c, \
                           discovered d, discoverymethod dm \
                      WHERE s.id=c.id AND \
                            d.discoverymethodID=dm.id AND \
                            d.starID = s.id'):
    print (row)
#> ('NQ2', 'Radial Velocity')

('NQ2', 'Radial Velocity')

In [25]:
#---------------------------------------------------------------
#show average star distance in ly
for row in c.execute('SELECT avg(s.distance) \
                      FROM star s'):
    print (row)
#> (159.96666666666667,)

(159.96666666666667,)

In [26]:
#---------------------------------------------------------------
#show average orbital period of 'b'stars
for row in c.execute('SELECT avg(p.orbitalperiod) \
                      FROM planet p \
                      GROUP BY p.planetletter'):
    print (row)
#> (572.037,)
#  (14002.0,)

conn.close()

(572.037,)
(14002.0,)